<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>Менеджер заявок</title>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
      <script src="./manager.js"></script>
      <link href="./main.css" rel="stylesheet" />
       
      <head>
<body ng-app="MortgageApplManager" ng-controller="MortgageManagerController">
    <div class="container">
	<div class="alert alert-primary" role="alert">
		<h3>
			Менеджер заявок на ипотеку
		</h3>
	</div>
    <form ng-repeat="mortgage in mortgages">
				
				<div class="form-group">
					<label for="id">№</label>
					<input type="number" class="form-control" id="customer" ng-model="mortgage.id" disabled>
				</div>
							
				<div class="d-flex d-flex justify-content-around">
					
					<div class="p-2 flex-fill col -md-4">
							<div class="form-group">
								<label for="customer">Покупатель (ФИО)</label>
								<input type="text" class="form-control" id="customer" ng-model="mortgage.customer">
							</div>
							<div class="form-group">
								<label for="passport">Паспорт</label>
								<input type="text" class="form-control" id="passport" ng-model="mortgage.passport">
							</div>
							<div class="form-group">
								<label for="address">Адрес</label>
								<input type="text" class="form-control" id="address" ng-model="mortgage.address">
							</div>
							<div class="form-group">
								<label for="phon">Телефон</label>
								<input type="text" class="form-control" id="phon" ng-model="mortgage.phon">
							</div>
					</div>
					<div class="p-2 flex-fill col -md-4">
						<div class="form-group">
							<div class="form-group">
								<label for="summa">Сумма</label>
								<input type="number" class="form-control" id="summa" ng-model="mortgage.summa">
							</div>
							<div class="form-group">
								<label for="duration">Срок</label>
								<input type="number" class="form-control" id="duration" ng-model="mortgage.duration">
							</div>
							<div class="form-group">
								<label for="subject">Объект ипотеки</label>
								<input type="text" class="form-control" id="subject" ng-model="mortgage.subject">
							</div>
						</div>
					</div>
					
					<div class="p-2 flex-fill col -md-4">
						<div class="form-group">
							<label for="supplier">Продавец</label>
							<input type="text" class="form-control" id="supplier" ng-model="mortgage.supplier">
						</div>
						<div class="form-group">
							<label for="supAddress">Адрес продавеца</label>
							<input type="text" class="form-control" id="supAddress" ng-model="mortgage.supAddress">
						</div>
						<div class="form-group">
							<label for="inn">ИНН продавеца</label>
							<input type="text" class="form-control" id="inn" ng-model="mortgage.inn">
						</div>
					</div>
					
					<a ng-click="editMortgage(mortgage)" class="btn btn-info">Edit</a>
           
					<a ng-click="deleteMortgage(mortgage)" class="btn btn-danger">Delete</a>
           
				
				
		
	 </form> 
   </body>
</html>